extends layout

block content

  .row.justify-content-center
    .col-sm-6
      legend New Pet
      form(action="#", method="post", id="new-pet")
        .form-group
            label Name
            span.star *
            input.form-control(name="name" required)
        .form-group
            label Birthday
            span.star *
            input.form-control(name="birthday" required)
        .form-group
            label Species
            span.star *
            input.form-control(name="species" required)
        .form-group
            label Avatar
            span.star *
            input.form-control(name="avatar" type="file" required)
        .form-group
            label Favorite Food
            span.star *
            input.form-control(name="favoriteFood" required)
        .form-group
            label Description
            span.star *
            textarea.form-control(name="description" minlength="140" required)
        button(type="submit").btn.btn-primary Save
