<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <div class="container">
    <p>Congrats! You and {{petName}} are family now :D</p>
    <p>You paid ${{amount}}</p>
    <p>Proud Pete's Pet Emporium thanks you!</p>
  </div>
</body>

</html>